<div class="row center-xs relative top-100">
    <div class="col-md-5 col-xs-11 white mega-padding box-shadow large-margin-bottom">
        <% if current_user.avatar.file? %>
            <%= image_tag current_user.avatar,  class:"circle box-150 margin-top--100 border" %>
        <%else%>
            <%= image_tag "avatar.jpg", class:"circle box-150 margin-top--100" %>
        <%end%>

        <p class="subtitle large-padding-bottom border-bottom large-margin-bottom">
            Editar cuenta
        </p>

        <% if @user.in_public? %> 
            <%= link_to "Hacer perfíl privado", "/users/#{@user.id}/private", method: :put, class:"orange-text" %>
        <%else%>
            <%= link_to "Hacer perfíl publico", "/users/#{@user.id}/unprivate", method: :put, class:"dark-green-text" %>
        <%end%>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="row"> 
               <div class="col-xs-12 large-margin-bottom no-padding">
                    <p class="font-18 small-margin-bottom">
                        Avatar:
                    </p>

                    <p class="font-13 red-text small-margin-bottom">
                        (Deja en blanco si no quieres cambiarla)
                    </p> 

                    <%= f.file_field :avatar %> 
                </div>

                <div class="col-xs-12 medium-margin-bottom">
                    <%= f.text_field :username, autofocus: true, required: true, class:"full medium-padding", pattern: "[a-zA-Z][a-zA-Z0-9\s]*" %>
                </div>

                <div class="col-xs-12 medium-margin-bottom">
                    <%= f.text_field :first_name, required: true, class:"full medium-padding", pattern: "[a-zA-Z][a-zA-Z]*" %>
                </div>

                <div class="col-xs-12 medium-margin-bottom">
                    <%= f.text_field :last_name, required: true, class:"full medium-padding", pattern: "[a-zA-Z][a-zA-Z]*" %>
                </div>

                <div class="col-xs-12 medium-margin-bottom">
                    <%= f.email_field :email, required: true, class:"full medium-padding" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div class="col-xs-12 medium-margin-bottom">
                        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                    </div>
                <% end %>

                <div class="col-xs-12 medium-margin-bottom">
                    <%= f.password_field :password, placeholder: "Nueva contraseña", class:"full medium-padding", autocomplete: "off" %>

                    <p class="font-13 red-text small-margin-top">
                        (Deja en blanco si no quieres cambiar tu contraseña)
                    </p>
                </div>

                 <div class="col-xs-12 large-padding-bottom border-bottom large-margin-bottom">
                    <%= f.password_field :password_confirmation, placeholder: "Confirma tu nueva contraseña", class:"full medium-padding", autocomplete: "off" %>
                </div>

                <div class="col-xs-12 large-margin-bottom">
                    <%= f.password_field :current_password, required: true, placeholder: "Contraseña actual", class:"full medium-padding", autocomplete: "off" %>

                    <p class="font-13 red-text small-margin-top">
                        (Nesecitas escribir tu contraseña actual para guardar los cambios)
                    </p>
                </div>

                <div class="col-xs-12">
                    <%= f.submit "Actualizar", class:"btn blue small-border-radius" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="row center-xs relative top-100">
    <div class="col-md-5 col-xs-11 white mega-padding box-shadow">
        <p class="font-20 large-padding-bottom border-bottom large-margin-bottom">
            Quieres eliminar tu cuenta?
        </p>

        <p>
            <%= button_to "Eliminar", registration_path(resource_name), class:"btn red small-border-radius", data: { confirm: "Estas seguro?" }, method: :delete %>
        </p>
    </div>
</div>