<p>
	<% if @article.comments.any? %>
		Hay <%= @article.comments.count %> comentarios en este artículo
	<%else%>	
		No se encontraron comentaríos
	<%end%>
</p>

<div class="row center-md center-sm relative">
	<% @article.comments.each do |comment| %>
		<div id="caca_<%= comment.id %>" class="col-md-7 col-sm-11 comment-container white short-transition large-margin-bottom box-shadow">
			<% if comment.user.nil? %>
				<li class="list-none">		
					<% if current_user.is_admin? %>
						<p class="red_text">Comentario eliminado</p> - <%= link_to "Delete", [@article, comment], remote: true, method: :delete, data: { confirm: "You sure?" }, class:"red-text" %>
					<%end%>
				</li>
			<%else%>

				<li class="row list-none">
					<div class="col-md-2 col-sm-3">
						<%= link_to image_tag(comment.user.avatar, class:"circle comment-image") %>
					</div>
					
					<div class="col-md-10 col-sm-9">
						<div class="row">
							<div class="col-md-12 col-sm-12 small-margin-bottom">
								<h2 class="left"><%= link_to comment.user.username, comment.user %></h2>
								<p class="right-text small-margin-top">Hace <%= time_ago_in_words(comment.created_at) %></p>
								<% if user_signed_in? %>
									<% if current_user.is_admin? or comment.user == current_user %>
										<p class="right no-padding small-margin-top"><%= link_to "Eliminar", [@article, comment], remote: true, method: :delete, data: { confirm: "You sure?" }, class:"red-text" %></p>
									<%end%>
								<%end%>
							</div>

							<div class="col-md-12 col-sm-12 left-text">
								<h4 class="border-top medium-padding-top">
									<%= comment.title %>
								</h4>
							</div>

							<div class="col-md-12 col-sm-12 left-text small-padding-top">
								<div>
									<% if comment.body.length > 400 %>
									    <%= truncate(comment.body, length: 400) %>
									    <%= link_to 'Read more', '', class: "read-more-#{comment.id} block center-text border-top medium-margin-top small-padding-top" %>

									    <script type="text/javascript">
									    	$('.read-more-<%= comment.id %>').on('click', function(e) {
												e.preventDefault()
												$(this).parent().html('<%= escape_javascript comment.body %>');
											});
									    </script>
									<% else %>
									    <%= comment.body %>
									<% end %>
								<div>
							</div>
						</div>
					</div>
				</li>
			</div>				
		<%end%>	
	<%end%>
</div>
