<% @articles.each do |article| %>
	<div class="col-md-4 col-xs-12">
		<div class="row relative auto-height article-container large-margin-bottom box-shadow">
			<div class="col-md-12 col-sm-12 col-xs-12 relative no-padding">
				<div class="article-height left block full article-cover-height" style="background: rgba(0,0,0,0.4);">
				</div>

				<div class="no-repeat full article-cover-height background-center" style="background: url(<%= article.cover %>); background-position: center; background-repeat: no-repeat;">
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 padding-to-article center-text white">
				<div class="border-bottom hidden small-margin-bottom">
					<p class="left font-13">
						Visitas: <%= article.visits_count %>
					</p>

					<p class="right font-13 medium-margin-bottom">
						<% if article.created_at > 24.hours.ago %>
							<% if article.created_at > 1.minute.ago %>
								Hace un momento
							<%else%>
								Hace <%= time_ago_in_words(article.created_at) %>
							<%end%>
						<%else%>
							<%= article.created_at.strftime("%H:%M, %d %b") %>
						<%end%>
					</p>
				</div>

				<h2 class="small-margin-bottom">
					<%= link_to article.title, article %>
				</h2>
				<div class="hidden inside-list">
					<%= sanitize article.body.truncate(200) %>
				</div>
			</div>
		</div>
	</div>
<%end%>