<%= form_for(@article) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="red message white-text medium-text small-margin-bottom small-border-radius">
			<%= message %>
		</div>
	<%end%>
	<% if @article.cover? %>
		<div class="large-margin-bottom">
			<%= image_tag @article.cover.url, class:"cover" %>
		</div>
	<%end%>

	<div class="large-margin-bottom">
		Portada: <%= f.file_field :cover%> 
	</div>
	<div class="large-margin-bottom">
		<%= f.text_field :title, placeholder: "Título", id: 'myTextarea' %>
		<p id="counter" class="short-transition right" style="color: green;">Characters left: 50</p>
	</div>
	<div class="large-margin-bottom">
		<%= f.trix_editor :body, placeholder: "Cuerpo del artículo", style:"min-height: 100px !important;" %>
	</div>
	<div class="row full center left-text large-margin-bottom">
		<% if @article.categories.empty? %>
			<div class="col-md-12 small-margin-bottom border-bottom small-padding-bottom center-text">
				Categorías
			</div>
			<% @categories.each do |category| %>
				<div class="col-md-6 col-sm-6 small-margin-top small-margin-bottom">
					<%= check_box_tag "categories[]", category.id %>
					<%= category.title %>
				</div>
			<%end%>	
		<%end%>
	</div>

	<div>
		<%= f.submit "Guardar", class:"save-article btn blue small-border-radius" %>
	</div>
<%end%>

<script type="text/javascript">
	$('document').ready(function() {
		$('#myTextarea').keyup(function () {
		    var left = 50 - $(this).val().length;
		    $('#counter').text('Characters left: ' + left);

		    if (left < 0) {
		    	$("#counter").css('color', 'red');
		    	$(".save-article").removeClass("blue");  
		    	$(".save-article").addClass("grey"); 
		    	$(".save-article").attr('disabled', 'disabled');
		    	$( ".alert" ).text( "Si sobrepasas el límite de caracteres no podrás crear el artículo" );
		    } else { 
	        	$("#counter").css('color', 'green'); 
		    	$(".save-article").removeClass("grey");
		    	$(".save-article").addClass("blue");  
		    	$(".save-article").removeAttr('disabled'); 
		    };

		    if (left < 6 && left > -1) {
		    	$("#counter").css('color', 'orange'); 

		    } else {
		    	$("#counter").css('color', 'none'); 
		    };
		});
	});
</script>
