<%= form_for(@article) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="red message white-text medium-text small-margin-bottom small-border-radius">
			<%= message %>
		</div>
	<%end%>
	<% if @article.cover? %>
		<div class="large-margin-bottom">
			<%= image_tag @article.cover.url, class:"cover" %>
		</div>
	<%end%>

	<div class="large-margin-bottom col-xs-12 hidden large-padding-bottom border-bottom">
		<p class="left font-18 article-cover-title-form">
			Portada:
		</p> 

		<%= f.file_field :cover, class:"right" %> 
	</div>

	<div class="large-margin-bottom col-xs-12 large-padding-bottom border-bottom">
		<%= f.text_field :title, placeholder: "Título", id: 'article-title', class:"full medium-padding small-margin-bottom" %>
		<p id="article-character-counter" class="short-transition font-13 right-text">
		</p>
	</div>

	<div class="large-margin-bottom col-xs-12">
		<%= f.trix_editor :body, placeholder: "Cuerpo del artículo", class:"left-text" %>
	</div>

	<% if @article.categories.empty? %>
		<div class="row full center left-text large-margin-bottom">
			<div class="col-md-12 col-xs-12 small-margin-bottom border-bottom medium-padding-bottom center-text font-18">
				Categorías
			</div>

			<% @categories.each do |category| %>
				<div class="col-md-6 col-sm-6 col-xs-12 small-margin-top small-margin-bottom">
					<%= check_box_tag "categories[]", category.id %>
					<%= category.title %>
				</div>
			<%end%>
		</div>	
	<%end%>

	<div>
		<%= f.submit "Guardar", class:"save-article btn blue small-border-radius" %>
	</div>
<%end%>

<script type="text/javascript">

		if ($(window).width() < 450) {
			$('.article-cover-title-form').removeClass('left');
			$('.article-cover-title-form').addClass('small-margin-bottom');

		} else {
		}

</script>