<% content_for :title do %>
  	<title>
  		Blog | <%= @article.title %>
  	</title>
<% end %>

<div class="row center-xs">
	<%= image_tag @article.cover, class:"cover border-bottom z-index-1" %>

	<div class="row center-xs col-xs-12 white left-text mega-padding large-margin-bottom">
		<div class="col-xs-12 no-padding border-bottom medium-margin-bottom">
			<p class="subtitle center-text medium-margin-bottom">
				<%= @article.title %>
			</p>

			<div class="large-margin-bottom">
				<%= @article.body.html_safe %>
			</div>
		</div>

		<% unless @article.user.nil? %>
			<p class="col-md-4 col-xs-6 center-text medium-margin-bottom">
				Escrito por:

				</br>

				<%= @article.user.username %>
			</p>

			<% if user_signed_in? %>
				<% if current_user.id == @article.user.id or current_user.is_admin? %>
					<p class="col-md-4 col-xs-6 center-text medium-margin-bottom">
						<%= link_to "Editar", edit_article_path(@article) %>
					</p>
				<%end%>
			<%end%>
		<%end%>

		<% if @article.published? %>
			<div class="col-md-4 col-xs-6 center-text medium-margin-bottom">
				Estado:

				<p class="green-text">
					Publicado
				</p>
			</div>
		<%else%>
			<div class="col-md-4 col-xs-6 center-text medium-margin-bottom">
				Estado:

				<p class="yellow-text">
					Artículo pendiente a aprobación	
				</p>
			</div>
		<%end%>

		<div class="col-md-4 col-xs-6 center-text medium-margin-bottom">
			<p>
				Visitas: <%= @article.visits_count %>
			</p>
		</div>

		<p class="col-xs-12 center-text font-20 medium-margin-bottom medium-padding-bottom border-bottom">
			Categorías
		</p>

		<% @article.categories.each do |category| %>
			<p class="col-md-4 col-xs-6 center-text small-margin-bottom">
				<%= link_to category.title, category, style:"color: #{category.color};" %>
			</p>
		<%end%>
	</div>
	
	<div class="col-md-7 col-xs-11 center-xs white mega-padding large-margin-bottom box-shadow">
		<p class="font-20 small-margin-bottom">
			<% if user_signed_in? %>
				Crear comentario
			<%else%>
				Comentarios
			<%end%>	
		</p>

		<p class="font-13 medium-margin-bottom medium-padding-bottom border-bottom">
			<% if @article.comments.any? %>
				Hay <%= @article.comments.count %> comentarios en este artículo
			<%else%>	
				No se encontraron comentaríos
			<%end%>
		</p>

		<% if user_signed_in? %>
			<div class="col-xs-12">
				<%= render 'comments/form', :comment => @comment %>
			</div>
		<%else%>
			<p class="font-13 red-text">
				Tienes que iniciar sesión para agregar un comentario
			</p>
		<%end%>
	</div>
</div>

<ul id="comments-box">
	<%= render @comment %>
</ul>
