<div class="row center-md center-xs">
        <% if user_signed_in? %>
            <div class="col-md-2 col-xs-12 white mega-padding large-margin-bottom">
                <h4 class="small-margin-bottom">Salas de chat a las que perteneces</h4>

                <div class="small-margin-top border-top">
                    <% current_user.chatrooms.each do |chatroom| %>
                        <p>
                            <%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id } %>
                        </p> 
                    <%end%>  
                </div> 
            </div>
        <%end%>

        <div class="row col-md-10 col-xs-12 flex center-items white mega-padding medium-margin-bottom">
            <p class="col-xs-6 subtitle center-text">
                Salas de chat 
            </p>

            <p class="col-xs-6 center-text">
                <% if @chatrooms.count == 0 %>
                    No hay salas de chat, crea una!
                <%else%>
                    Hay <%= @chatrooms.count %> chats
                <%end%>
            </p>
        </div>

            <% if user_signed_in? %>
                <p>
                    <%= link_to 'Crear sala de chat', new_chatroom_path %>
                </p> 
            <%else%>
                <p class="red-text">
                    Tienes que iniciar sesión para crear/entrar a un chat
                </p>
            <%end%>

            <% @chatrooms.reverse.each do |chatroom| %>
                <%= chatroom.name %>
                Creado por <%= chatroom.user.username %>
                Hace <%= time_ago_in_words(chatroom.created_at) %>
                Hay <%= chatroom.users.count %> usuarios en este chat

                <div>
                    <% if user_signed_in? %>
                        <%= link_to 'Entrar', chatroom_chatroom_users_path(chatroom), method: :post %>
                        <%= link_to 'Salir', chatroom_chatroom_users_path(chatroom), method: :delete %>

                        <% if current_user.id == chatroom.user_id %>
                            <%= link_to 'Editar', edit_chatroom_path(chatroom) %>
                            <%= link_to 'Eliminar', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <%end%> 
                    <%end%> 
                </div>
            <% end %>
        </div>        
</div>   

