<h1>Usuarios</h1>

<% if @users.any? %>
	Hay <%= @users.count %> usuarios
<%else%>	
	No se encontraron usuarios
<%end%>

<%= form_tag users_path, method: :get do %>
	<%= text_field_tag :user_search, params[:user_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar usuarios" %>
	<%= submit_tag "Search" %>
<%end%>

<div class="row center-md">
	<% @users.each do |user| %>
	    <div class="col-md-2 mega-padding white small-margin-left small-margin-right box-shadow">
	        <div>
	        	<%= image_tag user.avatar, class:"box-150 circle box-shadow" %>
	        </div> 

	       	<% if user.last_seen > 5.minutes.ago %>
				<p class="green-text small-margin-top">En línea</p>
			<%else%>
				<p class="red-text small-margin-top">Desconectado</p>
			<%end%>

	        <p class="font-40">
	        	<%= link_to user.username, user_path(user) %>
	        </p> 

	        <% if user_signed_in? %>
	        	<% if current_user.is_admin? %>
	        		<%= link_to "Eliminar", user, method: :delete, data: { confirm: "You sure?" }, class:"red-text" %>
	        	<%end%>
	        <%end%>
		</div>
	<%end%>	
</div>



<ul>
	<% @popos.each do |user| %>
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>