<div class="row center-md center-sm center-xs">
	<div class="row col-md-11 col-xs-12 white mega-padding users-index">
		<div class="col-md-4 col-xs-12 flex center-items users-title">
			<p class="subtitle">Usuarios</p>
		</div>
		
		<div class="col-md-4 col-sm-6 col-xs-12 flex center-items justify-content">
			<% if @users.any? %>
				Hay <%= @users.count %> usuarios
				<% if @onlines.count > 0 %>
					(
					<p class="green-text">
						<%= @onlines.count %> en línea
					</p>
					)
				<%end%>
			<%else%>	
				No se encontraron usuarios
			<%end%>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12 flex center-items justify-right user-search">
			<%= form_tag users_path, method: :get do %>
				<%= text_field_tag :user_search, params[:user_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar usuarios" %>
				<%= submit_tag "Search" %>
			<%end%>	
		</div>
	</div>

	<div class="row col-md-11 col-xs-12 no-padding large-margin-bottom user-index-buttons">
		<a href="javascript:;" class="tabLink col-md-6 col-xs-6 block left large-padding big-text white-text blue-flat center-text white" id="users-all">Todos</a>
		<a href="javascript:;" class="tabLink col-md-6 col-xs-6 block left large-padding big-text white-text blue-flat center-text" id="users-online">Conectados</a>
	</div>
	<div class="sticky-limit"></div>

	<div id="users-all-1" class="tabcontent col-md-12 row center-md center-xs">
		<% @users.privateds.each do |user| %>
		    <div class="col-md-2 col-sm-3 col-xs-8 large-margin-bottom mega-padding white small-margin-left small-margin-right box-shadow relative">
		        <div clasS="relative">
		        	<%= image_tag user.avatar, class:"box-150 box-shadow circle" %>

		        	<% if user.last_seen > 5.minutes.ago %>
						<p class="box-20 absolute bottom-10 right-40 green circle"></p>
					<%else%>
						<p class="box-20 absolute bottom-10 right-40 red circle"></p>
					<%end%>
		        </div>

		       	<% if user.last_seen > 5.minutes.ago %>
					<p class="green-text small-margin-top">En línea</p>
				<%else%>
					<p class="red-text small-margin-top">Desconectado</p>
				<%end%>

		        <p class="font-40 small-margin-bottom">
		        	<%= link_to user.username, user_path(user) %>
		        </p> 

		        <% if user_signed_in? %>
		        	<% if current_user.is_admin? %>
		        		<%= link_to "Eliminar", user, method: :delete, data: { confirm: "Estas seguro?" }, class:"red-text absolute bottom-10 right" %>
		        	<%end%>
		        <%end%>
			</div>
		<%end%>			
	</div>

	<div id="users-online-1" class="tabcontent row col-md-12 center-md center-xs display-none">
		<% @onlines.each do |user| %>
		    <div class="col-md-2 col-sm-3 col-xs-8 large-margin-bottom mega-padding white small-margin-left small-margin-right box-shadow relative">
		        <div clasS="relative">
		        	<%= image_tag user.avatar, class:"box-150 box-shadow circle" %>

		        	<% if user.last_seen > 5.minutes.ago %>
						<p class="box-20 absolute bottom-10 right-40 green circle"></p>
					<%else%>
						<p class="box-20 absolute bottom-10 right-40 red circle"></p>
					<%end%>
		        </div>

		        <p class="font-40 small-margin-bottom">
		        	<%= link_to user.username, user_path(user) %>
		        </p> 

		        <% if user_signed_in? %>
		        	<% if current_user.is_admin? %>
		        		<%= link_to "Eliminar", user, method: :delete, data: { confirm: "Estas seguro?" }, class:"red-text absolute bottom-10 right" %>
		        	<%end%>
		        <%end%>
			</div>
		<%end%>			
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

  	$(".tabLink").each(function(){
      $(this).click(function(){
        localStorage.selectedTab = $(this).index() + 1;
        tabeId = $(this).attr('id');
        $(".tabLink").removeClass("white");
        $(this).addClass("white");
        $(".tabLink").addClass("white-text");
        $(this).removeClass("white-text");
        $(".tabcontent").addClass("display-none");
        $("#"+tabeId+"-1").removeClass("display-none")   
        return false;     
      });
    });  
      
    // search for local storage
	    if (localStorage.selectedTab) {
	      $(".tabLink:eq(" + (localStorage.selectedTab - 1) + ")").click();
	    }
	  });

   	if ($(window).width() < 770) {
   		$('.users-title').removeClass('flex');

   		$('.user-search').removeClass('justify-right');
   		$('.user-search').removeClass('flex');
   		$('.user-search').addClass('medium-margin-top');
   		$('.user-search').addClass('medium-margin-bottom');

	} else {
	}

	function sticky_relocate() {
	    var window_top = $(window).scrollTop();
	    var div_top = $('.sticky-limit').offset().top;
	    if (window_top > div_top) {
	    	$('.users-index').addClass('large-margin-bottom');
	    	$('.user-index-buttons').addClass('full');
	        $('.user-index-buttons').addClass('fixed');
	        $('.user-index-buttons').addClass('z-index-500');

	    } else {
	    	$('.users-index').removeClass('large-margin-bottom');
	    	$('.user-index-buttons').removeClass('full');
	        $('.user-index-buttons').removeClass('fixed');
	        $('.user-index-buttons').removeClass('z-index-500');
	        $('.sticky-limit').height(0);
	    }
	}

	$(function() {
	    $(window).scroll(sticky_relocate);
	    sticky_relocate();
	});
</script>