<% if @user == current_user %>
	<h1>Mi perfíl</h1>
<%end%>
<h2><%= @user.email %></h1>
<ul>
    <li>Name: <%= @user.first_name %></li>
</ul>

<h3>Actividad</h3>
<%= @user.username %> a comentado <%= @articles.count %> veces

<% @articles.each do |article| %>
	<div>
		<%= @user.username %> comentó el artículo <%= link_to article.title, article %>
	</div>
<%end%>