<div class="row center-md center-xs full mega-padding black white-text ">
	<div class="col-md-10 col-xs-11 flex break-word popo no-padding large-margin-bottom">
		<%= image_tag @user.avatar, class:"circle left-text large-margin-right box-100" %>
		<div>
			<p class="user-username">
				<%= @user.username %>
			</p>

			<% if @user == current_user %>
				<p class="big-font left">
					(Mi perfíl)
				</p>
			<%end%>	

			<% if @user.last_seen > 5.minutes.ago %>
				<p class="green-text user-status">En línea</p>
			<%else%>
				<p class="red-text user-status">Desconectado</p>
			<%end%>
		</div>

	</div>

	<div class="center-text blue white-text circle medium-padding user-chatrooms box-115">
		<% if @chatrooms.count > 1 or 0 %>
			<p class="font-26"><%= @chatrooms.count %></p>
			<p class="font-13">Chats</p>
			<i class="fa fa-comments-o small-margin-top font-28"></i>
		<%else%>
			<p class="font-26"><%= @chatrooms.count %></p>
			<p class="font-13">Chats</p>
			<i class="fa fa-file-text-o small-margin-top font-28"></i>
		<%end%>	
	</div>

	<div class="center-text pistache white-text circle user-comments medium-padding box-115">
		<% if @comments.count > 1 or 0 %>
			<p class="font-26"><%= @comments.count %></p>
			<p class="font-13">Comentarios</p>
			<i class="fa fa-commenting-o small-margin-top font-28"></i>
		<%else%>
			<p class="font-26"><%= @comments.count %></p>
			<p class="font-13">Comentarios</p>
			<i class="fa fa-commenting-o small-margin-top font-28"></i>
		<%end%>	
	</div>

	<div class="center-text pink white-text circle medium-padding user-articles box-115">
		<% if @articles.count > 1 or 0 %>
			<p class="font-26"><%= @articles.count %></p>
			<p class="font-13">Artículos</p>
			<i class="fa fa-file-text-o medium-margin-top font-26"></i>
		<%else%>
			<p class="font-26"><%= @articles.count %></p>
			<p class="font-13">Artículo</p>
			<i class="fa fa-file-text-o medium-margin-top font-26"></i>
		<%end%>	
	</div>
</div>

<div class="row center-md center-xs left-text">
	<div class="row col-md-10 col-xs-12 no-padding">
		<a href="javascript:;" class="tabLink col-md-4 col-xs-4 block left large-padding big-text white-text blue-flat center-text white" id="user-articles"><i class="fa fa-file-text-o"></i></a>
		<a href="javascript:;" class="tabLink col-md-4 col-xs-4 block left large-padding big-text white-text blue-flat center-text" id="user-comments"><i class="fa fa-commenting-o"></i></a>
		<a href="javascript:;" class="tabLink col-md-4 col-xs-4 block left large-padding big-text white-text blue-flat center-text" id="user-info"><i class="fa fa-user-o"></i></a>
	</div>


	<div class="row tabcontent col-md-10 col-xs-12 white mega-padding" id="user-articles-1">
		<p class="big-text full large-margin-bottom center-text">
			Artículos del usuario
		</p>

		<% if @articles.count == 0 %>
			Este usuario no a publicado artículos aún
		<%else%>
			<% @articles.each do |article| %>
				<div class="col-md-6 col-xs-12">
					<%= @user.username %> creó un nuevo <%= link_to "artículo", article %> hace <%= time_ago_in_words(article.created_at) %>
				</div>
			<%end%>	
		<%end%>
	</div>

	<div class="row tabcontent display-none col-md-10 col-xs-12 mega-padding white" id="user-comments-1">
		<p class="big-text full large-margin-bottom center-text">
			Comentarios del usuario
		</p>
		<% if @artiicles.where(user: @user).count == 0 %>
			Este usuario no a comentado aún
		<%else%>
			<% @artiicles.each do |article| %>
				<% article.comments.where(user: @user).each do |comment| %>
					<div class="col-md-6 col-xs-12">
						<%= @user.username %> comentó un <%= link_to "artículo", article %> hace <%= time_ago_in_words(comment.created_at) %>
						<%= comment.title %>
					</div>
				<%end%>		
			<%end%>
		<%end%>
	</div>

	<div class="row tabcontent display-none col-md-10 col-xs-12 mega-padding white justify-content" id="user-info-1">
		<div class="col-md-12 col-xs-12">
			<p class="big-text large-margin-bottom center-text">
				Información del usuario
			</p>
			<p>
				Nombre: <%= @user.first_name %>
			</p> 
			<p>
				Apellido: <%= @user.last_name %>
			</p>
			<p>
				Email: <%= @user.email %>
			</p>
			<p>
				Ultima actividad: 

				<br>

				<% if @user.last_seen > 24.hours.ago %>
					Hace <%= time_ago_in_words(@user.last_seen) %>
				<%else%>
					<%= @user.last_seen.strftime("%H:%M, %d %b") %>
				<%end%>
			</p>
			<p>
				Ultimo inicio de sesión:

				<br>

				<% if @user.current_sign_in_at > 24.hours.ago %>
					Hace <%= time_ago_in_words(@user.current_sign_in_at) %>
				<%else%>
					<%= @user.current_sign_in_at.strftime("%H:%M, %d %b") %>
				<%end%>
			</p>

			<br>

			<div>
				<% if @chatrooms.count > 1 %>
					El usuario pertenece a <%= @user.chatrooms.count %> salas de chat:
		        <%else%> 
			    	<% if @chatrooms.count < 1 %>
			    		El usuario no pertenece a salas de chat
			    	<%else%>
			    		El usuario pertenece a <%= @user.chatrooms.count %> sala de chat:
			    	<%end%>
		        <%end%>  
				<% @chatrooms.each do |chatroom| %>
		            <li>
		                <%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id } %>
		            </li> 
	            <%end%>   
			</div>
		</div>
	</div>		
</div>

<script type="text/javascript">
  $(document).ready(function() {

  	$(".tabLink").each(function(){
      $(this).click(function(){
        localStorage.selectedTab = $(this).index() + 1;
        tabeId = $(this).attr('id');
        $(".tabLink").removeClass("white");
        $(this).addClass("white");
        $(".tabLink").addClass("white-text");
        $(this).removeClass("white-text");
        $(".tabcontent").addClass("display-none");
        $("#"+tabeId+"-1").removeClass("display-none")   
        return false;     
      });
    });  
      
    // search for local storage
	    if (localStorage.selectedTab) {
	      $(".tabLink:eq(" + (localStorage.selectedTab - 1) + ")").click();
	    }
	  });

 	if ($(window).width() < 450) {
	    $('.user-username').addClass('font-26');
	    $('.popo img').addClass('medium-margin-bottom');

	    $('.user-chatrooms').addClass('block');
		$('.user-chatrooms').addClass('small-margin-left');
		$('.user-chatrooms').addClass('small-margin-right');

		$('.user-articles').addClass('block');
		$('.user-articles').addClass('small-margin-left');
	    $('.user-articles').addClass('small-margin-right');

	    $('.user-comments').addClass('block');
	    $('.user-comments').addClass('small-margin-left');
	    $('.user-comments').addClass('small-margin-right');

	} else {

		$('.popo').addClass('center-items');
		$('.popo').addClass('large-margin-top');
	    $('.user-username').addClass('title');

		$('.user-status').addClass('left-text');

	    $('.user-chatrooms').addClass('absolute');
		$('.user-chatrooms').addClass('top-5');
		$('.user-chatrooms').addClass('right-310');

		$('.user-articles').addClass('absolute');
		$('.user-articles').addClass('top-50');
		$('.user-articles').addClass('right-230');

	    $('.user-comments').addClass('absolute');
		$('.user-comments').addClass('top-5');
		$('.user-comments').addClass('right-150');
	}
</script>




