<% if @user == current_user %>
	<h1>Mi perfíl</h1>
<%end%>
<h2><%= @user.email %></h1>
<ul>
    <li>Name: <%= @user.first_name %></li>
</ul>
<% @articles.each do |article| %>
	<h2><%= link_to article.title, article %></h1>
	<div>
		<%= article.body %>
	</div>
	<% article.comments.each do |comment| %>
		<% if comment.user == @user %>
			<li>		
				<b><%= comment.title %></b> - <%= comment.body %> - <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %> 
			</li>
		<%end%>
	<%end%>
<%end%>