<h1>Categories</h1>

<% if @categories.any? %>
  Hay <%= @categories.count %> categorías
<%else%>  
  No se encontraron categorías
<%end%>

<%= form_tag categories_path, method: :get do %>
  <%= text_field_tag :category_search, params[:category_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar categorías" %>
  <%= submit_tag "Search" %>
<%end%>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%= category.color %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>  
  </tbody>
</table>

<%= will_paginate @categories %>
<%= link_to 'New Category', new_category_path %>
