<header>
	<nav>
		<%= image_tag ("logo.png"), class:"logo" %>
		<ul>
			<li><%= link_to "Dashboard", dashboard_path %></li>
			<li><%= form_tag articles_path, method: :get do %>
					<%= text_field_tag :article_search, params[:article_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar artículos" %>
					<%= submit_tag "Search" %>
				<%end%>
			</li>				
			<li class="user-container no-padding submenu right">
				<% if user_signed_in? %>
					<%= link_to current_user.first_name, current_user, class: "user-name left bold-font" %>
					<%= link_to image_tag(current_user.avatar.url,  class:"avatar"), current_user, class: "no-padding left" %>
				<%else%>
					<%= link_to image_tag("avatar-3.png"), current_user, class: "no-padding" %>
				<%end%>
				<ul class="children-user">
					<% if user_signed_in? %>
						<li><%= link_to "Editar cuenta", edit_user_registration_path %></li>							
						<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
					<%else%>
						<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
						<li><%= link_to "Crear cuenta", new_user_registration_path %></li>
					<%end%>
				</ul>
			</li>
		</ul>
	</nav>
</header>