<header>
	<div class="mobile-header">
		<div class="toggle-header">
		  	<input class="toggle" type="checkbox">
			<span></span>
		</div>

		<div class="mobile-logo">
			<%= image_tag ("logo.png"), class:"logo" %>
			<p class="white-text lighter-font subtitle left">Blog</p>  
		</div>
		
		<div class="toggle-search">
			<i class="fa fa-search white-text fa-2x"></i>
		</div>
		<li id="mobile-header-search" class="list-none short-transition display-none">
			<%= form_tag articles_path, method: :get do %>
				<%= text_field_tag :article_search, params[:article_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar artículos", class:"left border-none header-search short-transition" %>
				<%= button_tag(type: "submit", class:"header-submit border-none") do %>
					 <i class="fa fa-search"></i>
				<% end %> 
			<%end%>
		</li>

		<div class="toggle-user">
			<i class="fa fa-user white-text fa-2x"></i>
			<li class="header-user short-transition list-none">
				<div class="pistache center-text">
					<% if user_signed_in? %>
						<p class="white-text uppercase medium-padding-top subtitle">Hola <%=  current_user.first_name %>!</p>
						<%= link_to image_tag(current_user.avatar.url,  class:"avatar"), current_user %>
					<%else%>
						<%= link_to image_tag("avatar.jpg"), current_user, class: "no-padding" %>
					<%end%>
				</div>

				<ul class="children-user">
					<% if user_signed_in? %>
						<li><%= link_to "Mi perfíl", current_user %></li>
						<li><%= link_to "Editar cuenta", edit_user_registration_path %></li>		
						<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"a" %></li>
					<%else%>
						<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
						<li><%= link_to "Crear cuenta", new_user_registration_path %></li>
					<%end%>
				</ul>
			</li>
		</div>
	</div>

	<nav class="header header-background short-transition box-shadow">
		<div class="logo-container">
			<%= image_tag ("logo.png"), class:"logo" %>
			<p class="white-text lighter-font">Blog</p>	
		</div>

		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Artículos", articles_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Nuevo artículo", new_article_path(@article) %></li>
			<%end%>
			<li><%= link_to "Usuarios", users_path %></li>
			<li><%= link_to "Categorías", categories_path %></li>
			<li id="header-search">
				<%= form_tag articles_path, method: :get do %>
					<%= text_field_tag :article_search, params[:article_search], required: true, pattern: "[a-zA-Z][a-zA-Z0-9\s]*", placeholder: "Buscar artículos", class:"left border-none header-search short-transition" %>
					<%= button_tag(type: "submit", class:"header-submit border-none") do %>
					  <i class="fa fa-search short-transition"></i>
					<% end %> 
				<%end%>
			</li>				
			<li class="user-container submenu no-padding right">
				<i class="fa fa-user-circle-o fa-2x user-icon"></i>
				<ul class="children-user box-shadow">
					<% if user_signed_in? %>
						<div class="pistache">
							<h2 class="white-text center-text">
								<%=  current_user.first_name %>
							</h2>
							<li>
								<%= link_to image_tag(current_user.avatar.url,  class:"avatar circle"), current_user, class: "no-padding left pistache" %>
							</li>
						</div>

						<li><%= link_to "Editar cuenta", edit_user_registration_path %></li>
						<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
					<%else%>
						<%= link_to image_tag("avatar.jpg", class:"guest-avatar-header circle"), current_user, class:"no-padding pistache" %>
						<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
						<li><%= link_to "Crear cuenta", new_user_registration_path %></li>
					<%end%>
				</ul>
			</li>
		</ul>
	</nav>
</header>

