<!DOCTYPE html>
<html>
    <head>
        <% if content_for?(:title) %>
          <%= content_for(:title) %>
        <% else %>
          <title>Blog</title>
        <% end %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="theme-color" content="#455A64" />  
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <div class="loading-indicator-container full fixed center-text" style="display: none;">
            <%= image_tag ("loading5.gif"), class:"loading-indicator circle box-shadow white", style:"display: none; z-index: 2000;" %>
        </div>

        <%= render "layouts/header" %>

        <body>
            <div id="notices" class="fixed full">
                <% if notice %>
                    <div class="notice">
                        <i class="fa fa-check medium-margin-right"></i>
                        <%= notice %>
                        <div class="close-notice right pointer">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                <%end%>    
            </div>     


            <div id="alerts" class="fixed full">
                <% if alert %>
                    <div class="alert red-flat-text">
                        <i class="fa fa-warning medium-margin-right"></i>
                        <%= alert %>
                        <div class="close-alert right pointer">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                <%end%>
            </div>
      
            <%= yield %>
        </body>
    </div>

</html>
