<!DOCTYPE html>
<html>
    <head>
        <% if content_for?(:title) %>
          <%= content_for(:title) %>
        <% else %>
          <title>Blog</title>
        <% end %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="theme-color" content="#455A64" />  
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <div class="loading-indicator-container" style="display: none;">
            <%= image_tag ("loading.gif"), class:"loading-indicator circle box-shadow", style:"display: none;" %>
        </div>


        <%= render "layouts/header" %>

        <body>     
            <div class="notice"><%= notice %></div>
            <div class="alert"><%= alert %></div>
      
            <%= yield %>
        </body>
    </div>

</html>
