<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="favicon.ico" />
        <meta name="theme-color" content="#000000" />  
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <%= image_tag ("loading.gif"), id:"loading-indicator", style:"display: none;" %>
        

        <script type="text/javascript">
            $(document).ajaxSend(function(event, request, settings) {
                $('#loading-indicator').show();
            });

            $(document).ajaxComplete(function(event, request, settings) {
                $('#loading-indicator').hide();
            });
        </script>

        <%= render "layouts/header" %>

        <body>     
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
      
            <%= yield %>
        </body>
    </div>

</html>
