<!DOCTYPE html>
<html>
    <head>
        <% if content_for?(:title) %>
          <%= content_for(:title) %>
        <% else %>
          <title>Blog</title>
        <% end %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#455A64" />  
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <div class="loading-indicator-container full fixed center-text z-index-500" style="display: none;">
            <%= image_tag ("loading5.gif"), class:"loading-indicator circle box-shadow white", style:"display: none; z-index: 2000;" %>
        </div>

        <%= render "layouts/header" %>

        <body>
            <div id="notices" class="fixed full row">
                <% if notice %>
                    <div class="notice row col-xs-12 large-padding flex center-items">
                        <i class="fa fa-check font-20 col-xs-1 center-text no-padding">
                        </i>

                        <p class="col-xs-10">
                            <%= notice %>
                        </p>
        
                        <div class="close-notice right pointer col-xs-1 no-padding center-text">
                            <i class="fa fa-times font-20">
                            </i>
                        </div>
                    </div>
                <%end%>    
            </div>     


            <div id="alerts" class="fixed full row">
                <% if alert %>
                    <div class="alert red-flat-text row col-xs-12 large-padding flex center-items">
                        <i class="fa fa-warning font-20 col-xs-1 center-text no-padding"></i>

                        <p class="col-xs-10">
                            <%= alert %>
                        </p> 
                        <div class="close-alert right pointer col-xs-1 no-padding center-text">
                            <i class="fa fa-times font-20"></i>
                        </div>
                    </div>
                <%end%>
            </div>
      
            <%= yield %>
        </body>
    </div>

</html>
