<!DOCTYPE html>
<html>
    <head>
        <% if content_for?(:title) %>
          <%= content_for(:title) %>
        <% else %>
          <title>Blog</title>
        <% end %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/favicon.ico?v=2" />
        <meta name="theme-color" content="#455A64" />  
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <div class="loading-indicator-container" style="display: none;">
            <%= image_tag ("loading.gif"), class:"loading-indicator circle box-shadow", style:"display: none;" %>
        </div>

        <style type="text/css">
            .loading-indicator-container{
                width: 100%;
                max-width: 1500px;
                height: auto;
                position: fixed;
                z-index: 1001;
                top: 90px;
                text-align: center; 
            }
            .loading-indicator{
                padding: 10px 10px;
                width: 70px;
                height: 70px;
                background: #fff;
            }
            @media screen and (max-width: 1024px){
                .loading-indicator-container{
                    top: 150px;
                }
                .loading-indicator{
                    padding: 10px 10px;
                    width: 120px;
                    height: 120px;
                }
            }
        </style>

        <script type="text/javascript">
            $(document).ajaxSend(function(event, request, settings) {
                $('.loading-indicator-container').fadeIn('fast');
                $('.loading-indicator').fadeIn('fast');
            });

            $(document).ajaxComplete(function(event, request, settings) {
                $('.loading-indicator-container').fadeOut('fast');
                $('.loading-indicator').fadeOut('fast');
            });
        </script>

        <%= render "layouts/header" %>

        <body>     
            <div class="notice"><%= notice %></div>
            <div class="alert"><%= alert %></div>
      
            <%= yield %>
        </body>
    </div>

</html>
