<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <div id="box-global" class="margin-from-header short-transition">
        <% if current_page?(root_path) %>
            <script type="text/javascript">
                $(function() {
                    $("#box-global").removeClass("margin-from-header");
                    $(".header_index").addClass("header-index-background");

                    $(window).scroll(function() {
                        var scroll = $(window).scrollTop();
                        if (scroll >= 300) {
                            $(".header_index").removeClass("header-index-background");
                        } else {
                            $(".header_index").addClass("header-index-background");
                        }
                    });
                });
            </script>

            <%= render "layouts/header_index" %>
        <%else%>
            <%= render "layouts/header" %>
        <% end %>

        <body>     
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
      
            <%= yield %>
        </body>
    </div>

</html>
